{% extends "events/layout.html" %}
{% block content %}
<h1><a href="{% url 'home' %}">Search:</a> What we found for you :)</h1>
<h2>Events for these categories</h2>
<table class="table">
{% for event in events %}
    <tr>
        <td>
            <a href="{% url 'event' event.id %}"><b>{{ event.name.text }}</b></a>
        </td>
    </tr>
{% endfor %}
</table>
<hr>

<ul class="pagination pagination-sm">
{% for x in range %}
    <li><a href="{% url 'results' x %}?{{ request.GET.urlencode }}">{{ x }}</a></li>
{% endfor %}
</ul>
{% endblock %}