{% extends "events/layout.html" %}
{% block content %}
<h1>Pick your favourite three categories, and we'll show you where to go</h1>

<form action="/results" method="post">
{% csrf_token %}
<select name="categories[]">
    <option value=""></option>
    {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
</select>
<select name="categories[]">
    <option value=""></option>
    {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
</select>
<select name="categories[]">
    <option value=""></option>
    {% for category in categories %}
    <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
</select>
<button class="btn btn-default">Submit</button>
</form>
{% endblock %}