{% extends "events/layout.html" %}
{% block content %}
<h1><a href="/">Search:</a> What we found for you :)</h1>
{% for category in categories %}
    <a href="/results?category1={{ category.id }}"><span class="label label-default">{{  category.name }}</span></a>
{% endfor %}

<h2>Events for these categories</h2>
<div class="row">
{% for event in events %}
    <div class="col-sm-3">
        <a href="/event/{{ event.id }}"><b>{{ event.name.text }}</b></a>
    </div>
{% endfor %}
</div>
<hr>

<ul class="pagination pagination-sm">
{% for x in range %}
    <li><a href="/results/{{ x }}?{{ request.GET.urlencode }}">{{ x }}</a></li>
{% endfor %}
</ul>
{% endblock %}